openapi: 3.1.0
info:
  title: Fitbit Web API (Legacy)
  version: 0.5.0
  license:
    name: Fitbit API Terms
    url: https://dev.fitbit.com/legal/platform-terms-of-service/
  description: OpenAPI specification for the Fitbit Web API (Legacy). The official Fitbit documentation states that the Fitbit Web API (Legacy) will be deprecated in September 2026.
servers:
  - url: https://api.fitbit.com
security:
  - fitbitOAuth: []
paths:
  /1/user/{user-id}/activities/active-zone-minutes/date/{date}/{period}.json:
    get:
      operationId: activeZoneMinutesTimeseriesGetGetAzmTimeSeriesByDate1UserUserIdActivitiesActiveZoneMinutesDateDatePeriodJson
      summary: Get AZM Time Series by Date
      description: This endpoint returns the daily summary values over a period of time by specifying a date and time period.
      tags:
        - Active-Zone-Minutes-Timeseries
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/active-zone-minutes-timeseries/get-azm-timeseries-by-date/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The end date of the period in the format yyyy-MM-dd or today.
          schema:
            type: string
            format: date
        - name: period
          in: path
          required: true
          description: 'The range for which data will be returned. Supported: 1d | 7d | 30d | 1w | 1m | 3m | 6m | 1y'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveZoneMinutesTimeseriesGetAZMTimeSeriesByDateResponse'
              example:
                activities-active-zone-minutes:
                  - dateTime: '2022-05-01'
                    value:
                      activeZoneMinutes: 21
                      fatBurnActiveZoneMinutes: 5
                      cardioActiveZoneMinutes: 12
                      peakActiveZoneMinutes: 4
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/goals/{period}.json:
    post:
      operationId: activityPostCreateActivityGoal1UserUserIdActivitiesGoalsPeriodJson
      summary: Create Activity Goal
      description: |-
        Creates or updates a user's daily or weekly activity goal.

        It uses units that correspond to the Accept-Language header provided.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/create-activity-goals/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: period
          in: path
          required: true
          description: 'Supported: daily | weekly'
          schema:
            type: string
        - name: type
          in: query
          required: true
          description: 'Supported: activeMinutes | activeZoneMinutes | caloriesOut | distance | floors | steps'
          schema:
            type: string
        - name: value
          in: query
          required: true
          description: Goal value
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityCreateActivityGoalResponse'
              example:
                goals:
                  activeMinutes: 55
                  activeZoneMinutes: 21
                  caloriesOut: 3500
                  distance: 5
                  floors: 10
                  steps: 10000
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
    get:
      operationId: activityGetGetActivityGoals1UserUserIdActivitiesGoalsPeriodJson
      summary: Get Activity Goals
      description: |-
        Retrieves a user's current daily or weekly activity goals.

        It uses units that correspond to the Accept-Language header provided.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-activity-goals/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: period
          in: path
          required: true
          description: 'Supported: daily | weekly'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityGetActivityGoalsResponse'
              example:
                goals:
                  activeMinutes: 55
                  activeZoneMinutes: 21
                  caloriesOut: 3500
                  distance: 5
                  floors: 10
                  steps: 10000
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities.json:
    post:
      operationId: activityPostCreateActivityLog1UserUserIdActivitiesJson
      summary: Create Activity Log
      description: Creates a log entry containing the Fitbit user's activity or private custom activity.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/create-activity-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: activityId
          in: query
          required: true
          description: This is the activity ID of the activity, directory activity or intensity level activity. If you pass directory activity id, Fitbit calculates and substitutes it with the corresponding intensity level activity ID based on the specified distance and/or duration. Either activityId or activityName must be provided.
          schema:
            type: string
        - name: activityName
          in: query
          required: true
          description: Custom activity name. Either activityId or activityName must be provided.
          schema:
            type: string
        - name: manualCalories
          in: query
          required: true
          description: Calories burned, specified manually. Request with activityName parameter, otherwise optional
          schema:
            type: string
        - name: startTime
          in: query
          required: true
          description: Activity start time. Hours and minutes in the format HH:mm.
          schema:
            type: string
        - name: durationMillis
          in: query
          required: true
          description: Duration in milliseconds.
          schema:
            type: string
        - name: date
          in: query
          required: true
          description: Log entry date in the format yyyy-MM-dd.
          schema:
            type: string
            format: date
        - name: distance
          in: query
          required: true
          description: Distance; required for logging directory activity. In the format X.XX and in the selected distanceUnit or in the unit system that corresponds to the Accept-Language header provided.
          schema:
            type: string
        - name: distanceUnit
          in: query
          required: false
          description: Distance measurement unit. See Units for acceptable values. "Steps" may be used as a distanceUnits value when the activity is either "Walking" (activityId=90013) or "Running" (activityId=90009).
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityCreateActivityLogResponse'
              example:
                activityLog:
                  activityId: 90013
                  activityParentId: 90013
                  activityParentName: Walk
                  calories: 300
                  description: Walking less than 2 mph, strolling very slowly
                  distance: 2
                  duration: 6000000
                  hasActiveZoneMinutes: true
                  hasStartTime: true
                  isFavorite: false
                  lastModified: '2023-06-05T18:39:39.035Z'
                  logId: 56268507015
                  name: Walk
                  startDate: '2023-06-01'
                  startTime: '10:30'
                  steps: 2706
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
    get:
      operationId: activityGetGetLifetimeStats1UserUserIdActivitiesJson
      summary: Get Lifetime Stats
      description: Retrieves the user's activity statistics.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-lifetime-stats/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityGetLifetimeStatsResponse'
              example:
                best:
                  total:
                    distance:
                      date: '2016-07-17'
                      value: 28.69259
                    floors:
                      date: '2018-05-28'
                      value: 73.00000011096
                    steps:
                      date: '2016-07-17'
                      value: 38826
                  tracker:
                    distance:
                      date: '2016-07-17'
                      value: 28.69259
                    floors:
                      date: '2018-05-28'
                      value: 73.00000011096
                    steps:
                      date: '2016-07-17'
                      value: 38826
                lifetime:
                  total:
                    activeScore: -1
                    caloriesOut: -1
                    distance: 8302.5
                    floors: 10278
                    steps: 11152512
                  tracker:
                    activeScore: -1
                    caloriesOut: -1
                    distance: 8288.26
                    floors: 10278
                    steps: 11133281
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/favorite/{activity-id}.json:
    post:
      operationId: activityPostCreateFavoriteActivity1UserUserIdActivitiesFavoriteActivityIdJson
      summary: Create Favorite Activity
      description: Adds the activity with the given ID to user's list of favorite activities.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/create-favorite-activity/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: activity-id
          in: path
          required: true
          description: The ID of the activity to be added.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
    delete:
      operationId: activityDeleteDeleteFavoriteActivity1UserUserIdActivitiesFavoriteActivityIdJson
      summary: Delete Favorite Activity
      description: Removes the activity from a user’s list of favorite activities.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/delete-favorite-activity/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: activity-id
          in: path
          required: true
          description: The ID of the activity to be removed.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/{activity-log-id}.json:
    delete:
      operationId: activityDeleteDeleteActivityLog1UserUserIdActivitiesActivityLogIdJson
      summary: Delete Activity Log
      description: Deletes a user’s activity log entry with the given ID.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/delete-activity-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: activity-log-id
          in: path
          required: true
          description: The ID of the activity log entry.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/list.json:
    get:
      operationId: activityGetGetActivityLogList1UserUserIdActivitiesListJson
      summary: Get Activity Log List
      description: Retrieves a list of a user's activity log entries before or after a given day.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-activity-log-list/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: beforeDate
          in: query
          required: true
          description: The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate must be specified.
          schema:
            type: string
            format: date
        - name: afterDate
          in: query
          required: true
          description: The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate must be specified.
          schema:
            type: string
            format: date
        - name: sort
          in: query
          required: true
          description: The sort order of entries by date. Use asc (ascending) when using afterDate. Use desc (descending) when sing before date.
          schema:
            type: string
        - name: limit
          in: query
          required: true
          description: 'The number of entries returned. Maximum: 100'
          schema:
            type: string
        - name: offset
          in: query
          required: true
          description: 'Supported : 0 See "offset" Query Parameter for more information.'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/{log-id}.tcx:
    get:
      operationId: activityGetGetActivityTcx1UserUserIdActivitiesLogIdTcx
      summary: Get Activity TCX
      description: The Training Center XML (TCX) is a data exchange format that contains GPS, heart rate, and lap data. This endpoint retrieves the details of a user's location using GPS and heart rate data during a logged exercise.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-activity-tcx/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: log-id
          in: path
          required: true
          description: The activity's log ID.
          schema:
            type: string
        - name: includePartialTCX
          in: query
          required: false
          description: Includes the TCX points when the GPS data is not available.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/activities/{activity-id}.json:
    get:
      operationId: activityGetGetActivityType1ActivitiesActivityIdJson
      summary: Get Activity Type
      description: Retrieves the details for a single activity from the Fitbit activities database in the format requested. If available, activity level details will display.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-activity-type/
      parameters:
        - name: activity-id
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityGetActivityTypeResponse'
              example:
                activity:
                  accessLevel: PUBLIC
                  activityLevels:
                    - id: 1010
                      maxSpeedMPH: 9.9
                      mets: 4
                      minSpeedMPH: -1
                      name: under 10 mph
                    - id: 1020
                      maxSpeedMPH: 11.9
                      mets: 6
                      minSpeedMPH: 10
                      name: 10-11.9 mph
                  hasSpeed: true
                  id: 90001
                  name: Bike
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/activities.json:
    get:
      operationId: activityGetGetAllActivityTypes1ActivitiesJson
      summary: Get All Activity Types
      description: Retrieves a list of all valid Fitbit public activities and the private, user-created activities from the Fitbit activities database in the format requested. If available, activity level details will display.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-all-activity-types/
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/date/{date}.json:
    get:
      operationId: activityGetGetDailyActivitySummary1UserUserIdActivitiesDateDateJson
      summary: Get Daily Activity Summary
      description: Retrieves a summary and list of a user’s activities and activity log entries for a given day.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-daily-activity-summary/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityGetDailyActivitySummaryResponse'
              example:
                activities: []
                goals:
                  activeMinutes: 30
                  caloriesOut: 1950
                  distance: 8.05
                  floors: 10
                  steps: 6800
                summary:
                  activeScore: -1
                  activityCalories: 525
                  calorieEstimationMu: 2241
                  caloriesBMR: 1973
                  caloriesOut: 2628
                  caloriesOutUnestimated: 2628
                  customHeartRateZones:
                    - caloriesOut: 2616.7788
                      max: 140
                      min: 30
                      minutes: 1432
                      name: Below
                    - caloriesOut: 0
                      max: 165
                      min: 140
                      minutes: 0
                      name: Custom Zone
                    - caloriesOut: 0
                      max: 220
                      min: 165
                      minutes: 0
                      name: Above
                  distances:
                    - activity: total
                      distance: 1.26
                    - activity: tracker
                      distance: 1.26
                    - activity: loggedActivities
                      distance: 0
                    - activity: veryActive
                      distance: 0
                    - activity: moderatelyActive
                      distance: 0
                    - activity: lightlyActive
                      distance: 1.25
                    - activity: sedentaryActive
                      distance: 0
                  elevation: 0
                  fairlyActiveMinutes: 0
                  floors: 0
                  heartRateZones:
                    - caloriesOut: 1200.33336
                      max: 86
                      min: 30
                      minutes: 812
                      name: Out of Range
                    - caloriesOut: 1409.4564
                      max: 121
                      min: 86
                      minutes: 619
                      name: Fat Burn
                    - caloriesOut: 6.98904
                      max: 147
                      min: 121
                      minutes: 1
                      name: Cardio
                    - caloriesOut: 0
                      max: 220
                      min: 147
                      minutes: 0
                      name: Peak
                  lightlyActiveMinutes: 110
                  marginalCalories: 281
                  restingHeartRate: 77
                  sedentaryMinutes: 802
                  steps: 1698
                  useEstimation: true
                  veryActiveMinutes: 0
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/favorite.json:
    get:
      operationId: activityGetGetFavoriteActivities1UserUserIdActivitiesFavoriteJson
      summary: Get Favorite Activities
      description: Retrieves a list of a user's favorite activities.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-favorite-activities/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityGetFavoriteActivitiesResponse'
              example:
                activityId: 15680
                description: ''
                mets: 6
                name: Tennis, doubles
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/frequent.json:
    get:
      operationId: activityGetGetFrequentActivities1UserUserIdActivitiesFrequentJson
      summary: Get Frequent Activities
      description: Retrieves a list of a user's frequent activities.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-frequent-activities/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/recent.json:
    get:
      operationId: activityGetGetRecentActivityTypes1UserUserIdActivitiesRecentJson
      summary: Get Recent Activity Types
      description: Retrieves a list of a user's recent activities types logged with some details of the last activity log of that type.
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-recent-activity-types/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/-/activities/{logId}/workout-summary:
    get:
      operationId: activityGetGetWorkoutSummary1UserActivitiesLogidWorkoutSummary
      summary: Get Workout Summary
      description: 'Exposes the ground contact time and step cadence collected during Run workouts:'
      tags:
        - Activity
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity/get-workout-summary/
      parameters:
        - name: logId
          in: path
          required: true
          description: The activity log id
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityGetWorkoutSummaryResponse'
              example:
                workoutSummary:
                  logId: 9061654908234352000
                  mobilityMetrics:
                    avgCadenceStepsPerMinute: 5
                    avgGroundContactTimeMilliseconds: 345
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/{resource-path}/date/{start-date}/{end-date}.json:
    get:
      operationId: activityTimeseriesGetGetActivityTimeSeriesByDateRange1UserUserIdActivitiesResourcePathDateStartDateEndDateJson
      summary: Get Activity Time Series by Date Range
      description: Retrieves the activity data for a given resource over a period of time by specifying a date range. The response will include only the daily summary values.
      tags:
        - Activity-Timeseries
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/activity-timeseries/get-activity-timeseries-by-date-range/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: resource-path
          in: path
          required: true
          description: ''
          schema:
            type: string
        - name: start-date
          in: path
          required: true
          description: The start date specified in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The end date specified in the format yyyy-MM-dd or today . Maximum range: See Resource Options'
          schema:
            type: string
            format: date
        - name: timezone
          in: query
          required: false
          description: 'Returns the response from the specified timezone. Supported: UTC'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTimeseriesGetActivityTimeSeriesByDateRangeResponse'
              example:
                activities-steps:
                  - dateTime: '2018-12-26'
                    value: '2504'
                  - dateTime: '2018-12-27'
                    value: '3723'
                  - dateTime: '2018-12-28'
                    value: '8304'
                  - dateTime: '2018-12-29'
                    value: '7861'
                  - dateTime: '2018-12-30'
                    value: '837'
                  - dateTime: '2018-12-31'
                    value: '4103'
                  - dateTime: '2019-01-01'
                    value: '1698'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /oauth2/token:
    post:
      operationId: authorizationPostClientCredentialsGrantFlowOauth2Token
      summary: Client Credentials Grant Flow
      description: |-
        The /oauth2/token endpoint can do the following: Exchange the authorization code for the initial access token and refresh token (See OAuth2 Token ). This process is required when using the Authorization Code Grant Flow [with PKCE]. Obtain a new access token and refresh token when the existing access token has expired (See Refresh Token ). Initiate the Client Credentials authorization flow (See Client Credentials ).

        Fitbit follows the OAuth 2.0 Client Credentials flow as specified in RFC 6749 . This authorization flow is used with specific Fitbit API endpoints related to business operations. It is not supported by the public Web APIs to retrieve Fitbit user data.

        The Client Credentials Grant flow has the following steps:

        The application sends a request to https ://api.fitbit.com/oauth2/token with its client_id and client_secret; and Fitbit authenticates your application and issues an access token.
      tags:
        - Authorization
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/authorization/client-credentials/
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
  /1.1/oauth2/introspect:
    post:
      operationId: authorizationPostIntrospect11Oauth2Introspect
      summary: Introspect
      description: Allows the application to retrieve the active state of an OAuth 2.0 token. This endpoint conforms to RFC 7662 .
      tags:
        - Authorization
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/authorization/introspect/
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
  /oauth2/revoke:
    post:
      operationId: authorizationPostRevokeTokenOauth2Revoke
      summary: Revoke Token
      description: |-
        Used to disable a user's authorization for an application. The revoke endpoint, specifying either the access token or refresh token, will remove the user's authorizations and all associated tokens. This endpoint conforms to RFC 7009 .

        Revoking the access token or refresh token will provide the same result. When the token is revoked, all tokens are revoked for that user. If an application has multiple sessions (web, mobile, etc.) for the same user, the revocation will remove all sessions (web, mobile, etc.) associated with that user.

        In addition, a revocation request can be made for tokens used by public clients. The Authorization header is not used. Instead, the public client's client_id and associated token will need to be specified as parameters in the revocation request.
      tags:
        - Authorization
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/authorization/revoke-token/
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
  /1/user/-/health/metrics/glucose/values/{startDate}/{endDate}.json:
    get:
      operationId: bloodGlucoseGetGetBloodGlucoseByInterval1UserHealthMetricsGlucoseValuesStartdateEnddateJson
      summary: Get Blood Glucose by Interval
      description: Retrieves the user's daily, min, max, sum and average values of blood glucose levels within an interval.
      tags:
        - Blood-Glucose
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/blood-glucose/get-blood-glucose-by-interval/
      parameters:
        - name: startDate
          in: path
          required: true
          description: Start date (inclusive) of the interval to query in format YYYY-MM-DD
          schema:
            type: string
            format: date
        - name: endDate
          in: path
          required: true
          description: End date (inclusive) of the interval to query in format YYYY-MM-DD
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - blood_glucose
  /1/user/{user-id}/body/log/fat/goal.json:
    post:
      operationId: bodyPostCreateBodyFatGoal1UserUserIdBodyLogFatGoalJson
      summary: Create Body Fat Goal
      description: Create or update a user's body fat goal.
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/create-bodyfat-goal/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: fat
          in: query
          required: true
          description: Target body fat percentage in the format X.XX.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyCreateBodyFatGoalResponse'
              example:
                goal:
                  fat: 25
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/fat.json:
    post:
      operationId: bodyPostCreateBodyFatLog1UserUserIdBodyLogFatJson
      summary: Create Body Fat Log
      description: Creates a body fat log entry.
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/create-bodyfat-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: fat
          in: query
          required: true
          description: Body fat measurement in the format X.XX.
          schema:
            type: string
        - name: date
          in: query
          required: true
          description: The date the body fat measurement was recorded in the format yyyy-MM-dd.
          schema:
            type: string
            format: date
        - name: time
          in: query
          required: false
          description: The timestamp the body fat measurement was recorded in the format HH:mm:ss. If a value is not provided, the timestamp will be the last second of the day.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyCreateBodyFatLogResponse'
              example:
                fatLog:
                  date: '2019-03-20'
                  fat: 15
                  logId: 1553069700000
                  source: api
                  time: '08:15:00'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/weight/goal.json:
    post:
      operationId: bodyPostCreateWeightGoal1UserUserIdBodyLogWeightGoalJson
      summary: Create Weight Goal
      description: Creates or updates a user's weight goal.
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/create-weight-goal/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: startDate
          in: query
          required: true
          description: Weight goal start date in the format yyyy-MM-dd.
          schema:
            type: string
            format: date
        - name: startWeight
          in: query
          required: true
          description: Starting weight before reaching goal in the format X.XX; entered in the unit system corresponding to the Accept-Language header provided.
          schema:
            type: string
        - name: weight
          in: query
          required: true
          description: Target weight goal in the format X.XX; entered in the unit system corresponding to the Accept-Language header provided. Required if the user doesn't have an existing weight goal.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyCreateWeightGoalResponse'
              example:
                goal:
                  goalType: LOSE
                  startDate: '2019-03-21'
                  startWeight: 200
                  weight: 180.5
                  weightThreshold: 0.05
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/weight.json:
    post:
      operationId: bodyPostCreateWeightLog1UserUserIdBodyLogWeightJson
      summary: Create Weight Log
      description: Creates a weight log entry
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/create-weight-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: weight
          in: query
          required: true
          description: Weight measurement in the format X.XX.
          schema:
            type: string
        - name: date
          in: query
          required: true
          description: The date the weight measurement was recorded in the format yyyy-MM-dd.
          schema:
            type: string
            format: date
        - name: time
          in: query
          required: false
          description: The timestamp the weight measurement was recorded in the format HH:mm:ss. If a value is not provided, the timestamp will be the last second of the day.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyCreateWeightLogResponse'
              example:
                weightLog:
                  - bmi: 25.91
                    date: '2019-03-01'
                    logId: 1553067494000
                    source: Aria
                    time: '07:38:14'
                    weight: 200
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/fat/{body-fat-log-id}.json:
    delete:
      operationId: bodyDeleteDeleteBodyFatLog1UserUserIdBodyLogFatBodyFatLogIdJson
      summary: Delete Body Fat Log
      description: Deletes a body fat log entry
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/delete-bodyfat-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: body-fat-log-id
          in: path
          required: true
          description: The body fat log ID to be deleted.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/weight/{weight-log-id}.json:
    delete:
      operationId: bodyDeleteDeleteWeightLog1UserUserIdBodyLogWeightWeightLogIdJson
      summary: Delete Weight Log
      description: Deletes a Weight log entry
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/delete-weight-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: weight-log-id
          in: path
          required: true
          description: The weight log ID to be deleted.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/{goal-type}/goal.json:
    get:
      operationId: bodyGetGetBodyGoals1UserUserIdBodyLogGoalTypeGoalJson
      summary: Get Body Goals
      description: Retrieves a user's body fat and weight goals.
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/get-body-goals/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: goal-type
          in: path
          required: true
          description: 'Supported : weight | fat'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/fat/date/{date}.json:
    get:
      operationId: bodyGetGetBodyFatLog1UserUserIdBodyLogFatDateDateJson
      summary: Get Body Fat Log
      description: Retrieves a list of all user's body fat log entries for a given date.
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/get-bodyfat-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyGetBodyFatLogResponse'
              example:
                fat:
                  - date: '2019-03-20'
                    fat: 15
                    logId: 1553067000000
                    source: Aria
                    time: '07:38:14'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/weight/date/{date}.json:
    get:
      operationId: bodyGetGetWeightLog1UserUserIdBodyLogWeightDateDateJson
      summary: Get Weight Log
      description: Retrieves a list of all user's weight log entries for a given date.
      tags:
        - Body
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body/get-weight-log/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/{resource}/date/{begin-date}/{end-date}.json:
    get:
      operationId: bodyTimeseriesGetGetBodyTimeSeriesByDateRange1UserUserIdBodyResourceDateBeginDateEndDateJson
      summary: Get Body Time Series by Date Range
      description: Retrieves a list of all user's bmi, body fat, or weight for a given date range.
      tags:
        - Body-Timeseries
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body-timeseries/get-body-timeseries-by-date-range/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: resource
          in: path
          required: true
          description: 'The body resource to be returned. Supported : bmi | fat | weight'
          schema:
            type: string
        - name: begin-date
          in: path
          required: true
          description: The start date specified in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The end date specified in the format yyyy-MM-dd or today . Maximum range: 1095 days'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyTimeseriesGetBodyTimeSeriesByDateRangeResponse'
              example:
                body-weight:
                  - dateTime: '2019-01-01'
                    value: '165'
                  - dateTime: '2019-01-02'
                    value: '166'
                  - dateTime: '2019-01-03'
                    value: '166'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/fat/date/{start-date}/{end-date}.json:
    get:
      operationId: bodyTimeseriesGetGetBodyFatTimeSeriesByDateRange1UserUserIdBodyLogFatDateStartDateEndDateJson
      summary: Get Body Fat Time Series by Date Range
      description: Retrieves a list of all user's body fat log entries for a given date range.
      tags:
        - Body-Timeseries
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body-timeseries/get-bodyfat-timeseries-by-date-range/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: start-date
          in: path
          required: true
          description: The start date specified in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The end date specified in the format yyyy-MM-dd or today . Maximum range: 30 days'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyTimeseriesGetBodyFatTimeSeriesByDateRangeResponse'
              example:
                fat:
                  - date: '2018-02-21'
                    fat: 15.5
                    logId: 1532187349000
                    source: Aria
                    time: '15:35:49'
                  - date: '2018-02-23'
                    fat: 16.1
                    logId: 1532333041000
                    source: Aria
                    time: '08:04:01'
                  - date: '2018-02-26'
                    fat: 16.8
                    logId: 1532586869000
                    source: Aria
                    time: '06:34:29'
                  - date: '2018-02-26'
                    fat: 17.2
                    logId: 1532586900000
                    source: Aria
                    time: '06:35:00'
                  - date: '2018-02-26'
                    fat: 17.5
                    logId: 1532586936000
                    source: Aria
                    time: '06:35:36'
                  - date: '2018-07-27'
                    fat: 17.4
                    logId: 1532677290000
                    source: Aria
                    time: '07:41:30'
                  - date: '2018-03-01'
                    fat: 16.5
                    logId: 1532748067000
                    source: Aria
                    time: '03:21:07'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/body/log/weight/date/{start-date}/{end-date}.json:
    get:
      operationId: bodyTimeseriesGetGetWeightTimeSeriesByDateRange1UserUserIdBodyLogWeightDateStartDateEndDateJson
      summary: Get Weight Time Series by Date Range
      description: Retrieves a list of all user's weight log entries for a given date range.
      tags:
        - Body-Timeseries
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/body-timeseries/get-weight-timeseries-by-date-range/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: start-date
          in: path
          required: true
          description: The start date specified in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The end date specified in the format yyyy-MM-dd or today . Maximum range: 31 days'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyTimeseriesGetWeightTimeSeriesByDateRangeResponse'
              example:
                weight:
                  - bmi: 25.91
                    date: '2019-02-25'
                    fat: 21
                    logId: 1551080804000
                    source: Aria
                    time: '07:46:44'
                    weight: 200
                  - bmi: 25.91
                    date: '2019-03-01'
                    logId: 1551484799000
                    source: API
                    time: '23:59:59'
                    weight: 200
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - weight
  /1/user/{user-id}/br/date/{date}.json:
    get:
      operationId: breathingRateGetGetBreathingRateSummaryByDate1UserUserIdBrDateDateJson
      summary: Get Breathing Rate Summary by Date
      description: |-
        This endpoint returns average breathing rate data for a single date. Breathing Rate data applies specifically to a user’s “main sleep,” which is the longest single period of time during which they were asleep on a given date.

        The measurement is provided at the end of a period of sleep. The data returned can and often does reflect a sleep period that began the day before. For example, if you request a daily breathing rate for 2021-12-22, it may include measurements that were taken the previous night on 2021-12-21 when the user started to sleep.

        It uses units that correspond to the Accept-Language header provided.
      tags:
        - Breathing-Rate
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/breathing-rate/get-br-summary-by-date/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreathingRateGetBreathingRateSummaryByDateResponse'
              example:
                br:
                  - value:
                      breathingRate: 17.8
                    dateTime: '2021-10-25'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - respiratory_rate
  /1/user/{user-id}/br/date/{start-date}/{end-date}.json:
    get:
      operationId: breathingRateGetGetBreathingRateSummaryByInterval1UserUserIdBrDateStartDateEndDateJson
      summary: Get Breathing Rate Summary by Interval
      description: |-
        This endpoint returns average breathing rate data for a date range. Breathing Rate data applies specifically to a user’s “main sleep,” which is the longest single period of time during which they were asleep on a given date.

        The single date measurements are provided at the end of a period of sleep. The data returned can and often does reflect a sleep period that began the day before. For example, if you request a daily breathing rate for 2021-12-22, it may include measurements that were taken the previous night on 2021-12-21 when the user started to sleep.

        It uses units that correspond to the Accept-Language header provided.
      tags:
        - Breathing-Rate
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/breathing-rate/get-br-summary-by-interval/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: start-date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today.
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The date in the format yyyy-MM-dd or today. Maximum range: 30 days'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreathingRateGetBreathingRateSummaryByIntervalResponse'
              example:
                br:
                  - value:
                      breathingRate: 17.8
                    dateTime: '2021-10-25'
                  - value:
                      breathingRate: 17.9
                    dateTime: '2021-10-26'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - respiratory_rate
  /1/user/{user-id}/cardioscore/date/{date}.json:
    get:
      operationId: cardioFitnessScoreGetGetVo2MaxSummaryByDate1UserUserIdCardioscoreDateDateJson
      summary: Get VO2 Max Summary by Date
      description: |-
        This endpoint returns the Cardio Fitness Score (also known as VO2 Max) data for a single date. VO2 Max values will be shown as a range if no run data is available or a single numeric value if the user uses a GPS for runs. See Additional Information for further context.

        The endpoint response ignores the Units header. The value returned is always in ml/kg/min.
      tags:
        - Cardio-Fitness-Score
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/cardio-fitness-score/get-vo2max-summary-by-date/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardioFitnessScoreGetVO2MaxSummaryByDateResponse'
              example:
                cardioScore:
                  - dateTime: '2021-10-25'
                    value:
                      vo2Max: '46'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - cardio_fitness
  /1/user/{user-id}/cardioscore/date/{start-date}/{end-date}.json:
    get:
      operationId: cardioFitnessScoreGetGetVo2MaxSummaryByInterval1UserUserIdCardioscoreDateStartDateEndDateJson
      summary: Get VO2 Max Summary by Interval
      description: |-
        This endpoint returns the Cardio Fitness Score (also know as VO2 Max) data for a date range. VO2 Max values will be shown as a range if no run data is available or a single numeric value if the user uses a GPS for runs. See Additional Information for further context.

        The endpoint response ignores the Units header. The value returned is always in ml/kg/min.
      tags:
        - Cardio-Fitness-Score
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/cardio-fitness-score/get-vo2max-summary-by-interval/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: start-date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today.
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The date in the format yyyy-MM-dd or today. Maximum range: 30 days'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardioFitnessScoreGetVO2MaxSummaryByIntervalResponse'
              example:
                cardioScore:
                  - dateTime: '2021-10-25'
                    value:
                      vo2Max: 44-48
                  - dateTime: '2021-10-26'
                    value:
                      vo2Max: '45'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - cardio_fitness
  /1/user/{user-id}/devices/tracker/{tracker-id}/alarms.json:
    post:
      operationId: devicesPostCreateAlarms1UserUserIdDevicesTrackerTrackerIdAlarmsJson
      summary: Create Alarms
      description: Creates an alarm for the given device. This endpoint is supported for trackers that support alarms.
      tags:
        - Devices
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/devices/create-alarm/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: tracker-id
          in: path
          required: true
          description: The ID of the tracker for which the alarm is created. The tracker-id can be found by using the Get Devices endpoint.
          schema:
            type: string
        - name: time
          in: query
          required: true
          description: The time of day and UTC offset that the alarm vibrates in the format HH:mm-offset, e.g. 07:00-08:00.
          schema:
            type: string
        - name: enabled
          in: query
          required: true
          description: 'Enables the alarm to vibrate. Supported : true | false'
          schema:
            type: string
        - name: recurring
          in: query
          required: true
          description: 'Defines the alarm as a recurring (true) or a single event (false). Supported : true | false'
          schema:
            type: string
        - name: weekDays
          in: query
          required: true
          description: 'A comma separated list of days of the week which the alarm vibrates. Supported : MONDAY | TUESDAY | WEDNESDAY | THURSDAY | FRIDAY | SATURDAY | SUNDAY'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesCreateAlarmsResponse'
              example:
                trackerAlarm:
                  alarmId: 802464368
                  deleted: false
                  enabled: true
                  recurring: true
                  snoozeCount: 3
                  snoozeLength: 9
                  syncedToDevice: false
                  time: 08:00-07:00
                  vibe: DEFAULT
                  weekDays:
                    - MONDAY
                    - TUESDAY
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - settings
    get:
      operationId: devicesGetGetAlarms1UserUserIdDevicesTrackerTrackerIdAlarmsJson
      summary: Get Alarms
      description: Retrieves the alarms enabled for a specific device. This endpoint is supported for trackers that support alarms.
      tags:
        - Devices
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/devices/get-alarms/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: tracker-id
          in: path
          required: true
          description: The ID of the tracker for which the data is returned. The tracker-id can be found by using the Get Devices endpoint.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesGetAlarmsResponse'
              example:
                trackerAlarms:
                  - alarmId: 11426382
                    deleted: false
                    enabled: true
                    recurring: true
                    snoozeCount: 3
                    snoozeLength: 9
                    syncedToDevice: false
                    time: 07:15-08:00
                    vibe: DEFAULT
                    weekDays:
                      - MONDAY
                      - TUESDAY
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - settings
  /1/user/{user-id}/devices/tracker/{tracker-id}/alarms/{alarm-id}.json:
    delete:
      operationId: devicesDeleteDeleteAlarm1UserUserIdDevicesTrackerTrackerIdAlarmsAlarmIdJson
      summary: Delete Alarm
      description: Deletes an alarm on the given device. This endpoint is supported for trackers that support alarms.
      tags:
        - Devices
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/devices/delete-alarm/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: tracker-id
          in: path
          required: true
          description: The ID of the tracker for which the alarm is to be deleted. The tracker-id can be found by using the Get Devices endpoint.
          schema:
            type: string
        - name: alarm-id
          in: path
          required: true
          description: The ID of the alarm to be deleted. The alarm-id can be found by using the Get Alarms endpoint.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - settings
    post:
      operationId: devicesPostUpdateAlarm1UserUserIdDevicesTrackerTrackerIdAlarmsAlarmIdJson
      summary: Update Alarm
      description: Updates an alarm on the given device. This endpoint is supported for trackers that support alarms.
      tags:
        - Devices
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/devices/update-alarm/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: tracker-id
          in: path
          required: true
          description: The ID of the tracker for which the alarm is created. The tracker-id can be found by using the Get Devices endpoint.
          schema:
            type: string
        - name: alarm-id
          in: path
          required: true
          description: The ID of the alarm to be updated. The alarm-id can be found by using the Get Alarms endpoint.
          schema:
            type: string
        - name: time
          in: query
          required: true
          description: The time of day and UTC offset that the alarm vibrates in the format HH:mm-offset, e.g. 07:00-08:00.
          schema:
            type: string
        - name: enabled
          in: query
          required: true
          description: 'Enables the alarm to vibrate. Supported : true | false'
          schema:
            type: string
        - name: recurring
          in: query
          required: true
          description: 'Defines the alarm as a recurring (true) or a single event (false). Supported : true | false'
          schema:
            type: string
        - name: weekDays
          in: query
          required: true
          description: 'A comma separated list of days of the week which the alarm vibrates. Supported : MONDAY | TUESDAY | WEDNESDAY | THURSDAY | FRIDAY | SATURDAY | SUNDAY'
          schema:
            type: string
        - name: snoozeLength
          in: query
          required: true
          description: Number of minutes between alarms.
          schema:
            type: string
        - name: snoozeCount
          in: query
          required: true
          description: Maximum number of times allowed to snooze alarm.
          schema:
            type: string
        - name: label
          in: query
          required: false
          description: Label or name for the alarm.
          schema:
            type: string
        - name: vibe
          in: query
          required: false
          description: 'The vibration pattern. Supported : DEFAULT'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesUpdateAlarmResponse'
              example:
                trackerAlarm:
                  alarmId: 1240569123
                  deleted: false
                  enabled: true
                  recurring: false
                  snoozeCount: 5
                  snoozeLength: 5
                  syncedToDevice: false
                  time: 12:00-08:00
                  vibe: DEFAULT
                  weekDays: []
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - settings
  /1/user/{user-id}/devices.json:
    get:
      operationId: devicesGetGetDevices1UserUserIdDevicesJson
      summary: Get Devices
      description: Retrieves a list of Fitbit devices paired to a user's account.
      tags:
        - Devices
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/devices/get-devices/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesGetDevicesResponse'
              example:
                battery: Medium
                batteryLevel: 60
                deviceVersion: Charge 2
                features: []
                id: '816713257'
                lastSyncTime: '2019-11-07T12:00:58.000'
                mac: 16ADD56D54GD
                type: TRACKER
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - settings
  /1/user/{user-id}/ecg/list.json:
    get:
      operationId: electrocardiogramGetGetEcgLogList1UserUserIdEcgListJson
      summary: Get ECG Log List
      description: |-
        This endpoint retrieves a list of the user’s Electrocardiogram (ECG) log entries before or after a given day.

        Note: The ECG API is for research use or investigational use only, and is not intended for clinical or diagnostic purposes.
      tags:
        - Electrocardiogram
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/electrocardiogram/get-ecg-log-list/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: beforeDate
          in: query
          required: true
          description: The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate must be specified.
          schema:
            type: string
            format: date
        - name: afterDate
          in: query
          required: true
          description: The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate must be specified.
          schema:
            type: string
            format: date
        - name: sort
          in: query
          required: true
          description: The sort order of entries by date. Use asc (ascending) when using afterDate. Use desc (descending) when using before date.
          schema:
            type: string
        - name: limit
          in: query
          required: true
          description: 'The number of entries returned. See Limit / Offset for more information. Maximum: 10'
          schema:
            type: string
        - name: offset
          in: query
          required: true
          description: 'See Limit / Offset for more information. Supported: 0'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - electrocardiogram
  /1.1/user/-/leaderboard/friends.json:
    get:
      operationId: friendsGetGetFriendsLeaderboard11UserLeaderboardFriendsJson
      summary: Get Friends Leaderboard
      description: This endpoint returns the user's friend leaderboard in the format requested using units in the unit system which corresponds to the Accept-Language header provided. This scope does not provide access to the friend's Fitbit data. Those users will need to individually consent to share their data with your application.
      tags:
        - Friends
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/friends/get-friends-leaderboard/
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - social
  /1.1/user/{user-id}/friends.json:
    get:
      operationId: friendsGetGetFriends11UserUserIdFriendsJson
      summary: Get Friends
      description: This endpoint allows the application to retrieves a list of the specified Fitbit user's friends. This scope does not provide access to the friend's Fitbit data. Those users will need to individually consent to share their data with your application.
      tags:
        - Friends
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/friends/get-friends/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - social
  /1/user/{user-id}/activities/heart/date/{start-date}/{end-date}.json:
    get:
      operationId: heartrateTimeseriesGetGetHeartRateTimeSeriesByDateRange1UserUserIdActivitiesHeartDateStartDateEndDateJson
      summary: Get Heart Rate Time Series by Date Range
      description: Retrieves the heart rate time series data over a period of time by specifying a date range. The response will include only the daily summary values.
      tags:
        - Heartrate-Timeseries
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/heartrate-timeseries/get-heartrate-timeseries-by-date-range/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: start-date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The date in the format yyyy-MM-dd or today . Maximum range: 1 year'
          schema:
            type: string
            format: date
        - name: timezone
          in: query
          required: false
          description: 'Returns the response from the specified timezone. Supported: UTC'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartrateTimeseriesGetHeartRateTimeSeriesByDateRangeResponse'
              example:
                activities-heart:
                  - dateTime: '2019-05-08'
                    value:
                      customHeartRateZones:
                        - caloriesOut: 1164.09312
                          max: 90
                          min: 30
                          minutes: 718
                          name: Below
                        - caloriesOut: 203.65344
                          max: 110
                          min: 90
                          minutes: 74
                          name: Custom Zone
                        - caloriesOut: 330.76224
                          max: 220
                          min: 110
                          minutes: 42
                          name: Above
                      heartRateZones:
                        - caloriesOut: 979.43616
                          max: 86
                          min: 30
                          minutes: 626
                          name: Out of Range
                        - caloriesOut: 514.16208
                          max: 121
                          min: 86
                          minutes: 185
                          name: Fat Burn
                        - caloriesOut: 197.92656
                          max: 147
                          min: 121
                          minutes: 18
                          name: Cardio
                        - caloriesOut: 6.984
                          max: 220
                          min: 147
                          minutes: 5
                          name: Peak
                      restingHeartRate: 76
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - heartrate
  /1/user/{user-id}/hrv/date/{date}.json:
    get:
      operationId: heartrateVariabilityGetGetHrvSummaryByDate1UserUserIdHrvDateDateJson
      summary: Get HRV Summary by Date
      description: |-
        This endpoint returns the Heart Rate Variability (HRV) data for a single date. HRV data applies specifically to a user’s “main sleep,” which is the longest single period of time asleep on a given date.

        The measurement is provided at the end of a period of sleep. The data returned usually reflects a sleep period that began the day before. For example, if you request a daily HRV rate for 2021-12-22, it may include measurements that were taken the previous night on 2021-12-21 when the user fell asleep.

        It uses units that correspond to the Accept-Language header provided.
      tags:
        - Heartrate-Variability
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/heartrate-variability/get-hrv-summary-by-date/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartrateVariabilityGetHRVSummaryByDateResponse'
              example:
                hrv:
                  - value:
                      dailyRmssd: 34.938
                      deepRmssd: 31.567
                    dateTime: '2021-10-25'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - heartrate
  /1/user/{user-id}/hrv/date/{startDate}/{endDate}.json:
    get:
      operationId: heartrateVariabilityGetGetHrvSummaryByInterval1UserUserIdHrvDateStartdateEnddateJson
      summary: Get HRV Summary by Interval
      description: |-
        This endpoint returns the Heart Rate Variability (HRV) data for a date range. HRV data applies specifically to a user’s “main sleep,” which is the longest single period of time asleep on a given date.

        Single date measurements are provided at the end of a period of sleep. The data returned can and often does reflects a sleep period that began the day before. For example, if you request a daily HRV rate for 2021-12-22, it may include measurements that were taken the previous night on 2021-12-21 when the user fell asleep.

        It uses units that correspond to the Accept-Language header provided.
      tags:
        - Heartrate-Variability
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/heartrate-variability/get-hrv-summary-by-interval/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: startDate
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today.
          schema:
            type: string
            format: date
        - name: endDate
          in: path
          required: true
          description: 'The date in the format yyyy-MM-dd or today. Maximum range: 30 days'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartrateVariabilityGetHRVSummaryByIntervalResponse'
              example:
                hrv:
                  - value:
                      dailyRmssd: 62.887
                      deepRmssd: 64.887
                    dateTime: '2021-10-25'
                  - value:
                      dailyRmssd: 61.887
                      deepRmssd: 64.887
                    dateTime: '2021-10-26'
                  - value:
                      dailyRmssd: 60.887
                      deepRmssd: 64.887
                    dateTime: '2021-10-27'
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - heartrate
  /1/user/{user-id}/activities/{resource}/date/{date}/1d/{detail-level}.json:
    get:
      operationId: intradayGetGetActivityIntradayByDate1UserUserIdActivitiesResourceDateDate1DDetailLevelJson
      summary: Get Activity Intraday by Date
      description: |-
        This endpoint retrieves the activity intraday time series data for a given resource on a specific date or 24 hour period. Intraday support can extend the detail-level response to include 1min, 5min and 15min for Activity.

        3rd-party developers who want access to retrieve other Fitbit users’ Intraday data through the “Client” or “Server” application type should submit a request by filling out this form . A Fitbit developer’s personal Intraday data is automatically available through the “Personal” application type. You do not need to submit a request.
      tags:
        - Intraday
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/intraday/get-activity-intraday-by-date/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: resource
          in: path
          required: true
          description: 'The resource of the data to be returned. Supported: calories | distance | elevation | floors | steps | swimming-strokes'
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: detail-level
          in: path
          required: true
          description: 'Number of data points to include. Supported: 1min | 5min | 15min'
          schema:
            type: string
        - name: timezone
          in: query
          required: false
          description: 'Returns the response from the specified timezone. Supported: UTC'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/{resource}/date/{start-date}/{end-date}/{detail-level}.json:
    get:
      operationId: intradayGetGetActivityIntradayByInterval1UserUserIdActivitiesResourceDateStartDateEndDateDetailLevelJson
      summary: Get Activity Intraday by Interval
      description: |-
        This endpoint retrieves the activity intraday time series data for a given resource on a specific date range for a 24 hour period. Intraday support can extend the detail-level response to include 1min, 5min and 15min for Activity.

        3rd-party developers who want access to retrieve other Fitbit users’ Intraday data through the “Client” or “Server” application type should submit a request by filling out this form . A Fitbit developer’s personal Intraday data is automatically available through the “Personal” application type. You do not need to submit a request.
      tags:
        - Intraday
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/intraday/get-activity-intraday-by-interval/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: resource
          in: path
          required: true
          description: 'The resource of the data to be returned. Supported: calories | distance | elevation | floors | steps | swimming-strokes'
          schema:
            type: string
        - name: start-date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: end-date
          in: path
          required: true
          description: 'The date in the format yyyy-MM-dd or today . Maximum range: 24 hours'
          schema:
            type: string
            format: date
        - name: detail-level
          in: path
          required: true
          description: 'Number of data points to include. Supported: 1min | 5min | 15min'
          schema:
            type: string
        - name: timezone
          in: query
          required: false
          description: 'Returns the response from the specified timezone. Supported: UTC'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitbitErrorResponse'
      security:
        - fitbitOAuth:
            - activity
  /1/user/{user-id}/activities/active-zone-minutes/date/{date}/1d/{detail-level}.json:
    get:
      operationId: intradayGetGetAzmIntradayByDate1UserUserIdActivitiesActiveZoneMinutesDateDate1DDetailLevelJson
      summary: Get AZM Intraday by Date
      description: |-
        This endpoint retrieves the active zone minute (AZM) intraday time series data for a specific date or 24 hour period. Intraday support can extend the detail-level response to include 1min, 5min and 15min for Active Zone Minutes.

        3rd-party developers who want access to retrieve other Fitbit users’ Intraday data through the “Client” or “Server” application type should submit a request by filling out this form . A Fitbit developer’s personal Intraday data is automatically available through the “Personal” application type. You do not need to submit a request.
      tags:
        - Intraday
      x-fitbit-doc-url: https://dev.fitbit.com/build/reference/web-api/intraday/get-azm-intraday-by-date/
      parameters:
        - name: user-id
          in: path
          required: true
          description: The encoded ID of the user. Use "-" (dash) for current logged-in user.
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: The date in the format yyyy-MM-dd or today .
          schema:
            type: string
            format: date
        - name: detail-level
          in: path
          required: true
          description: 'Number of data points to include. Supported: 1min | 5min | 15min'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntradayGetAZMIntradayByDateResponse'
              example:
                activities-active-zone-minutes-intraday:
                  - dateTime: '2020-09-17'
                    minutes:
                      - minute: '2020-09-17T17:00:00'
                        value:
                          fatBurnActiveZoneMinutes: 1
                          activeZoneMinutes: 1
                      - minute: '2020-09-17T17:01:00'
                        value:
                          cardioActiveZoneMinutes: 1
                          activeZoneMinutes: 1
                      - minute: '2020-09-17T17:02:00'
                        value:
                          activeZoneMinutes: 0
        '400':
          description: Fitbit API error
          content:
            application/json:
              schema:
[...]
